<%- include("header") -%>

<div class="centered" style="text-align: center;" xmlns="http://www.w3.org/1999/html">
    <h1>EMAIL CHANGED SUCCESSFULLY!</h1>
    <a href="/log-in" class="home-button">View Reservation</a>
</div>




