<div class="footer" style="text-align: center;">
    <h2>FOLLOW US ON SOCIAL MEDIA!</h2>
    <div class="socials">
        <a href="https://www.tiktok.com" style="text-decoration: none; padding-right: 2vw" target="_blank" ><img src="tiktok.png" width="40px"> </a>
        <a href="http://www.youtube.com" style="text-decoration: none; padding-right: 2vw" target="_blank" ><img id="yt" src="yt.png" width=40px> </a>
        <a href="https://instagram.com"  style="text-decoration: none" target="_blank" ><img src="insta.png" width="40px"> </a>
    </div>
</div>

</body>

</html>

