<%- include("sidebar") -%>
<div style="margin: 10px">
    <h1 style="text-align: center; font-size: 5vw; margin: 0;">Cancel Bookings</h1>
</div>
<hr style="color: #CF8E8E; margin: 0">

<div class="centered">
<form class="contact-form">
<% for (i=0;i<date.length; i++){%>
    <% let sqlDate = date[i]; %>
    <% let parts = sqlDate.split('-'); %>
    <% let formattedDate = `${parts[2]}/${parts[1]}/${parts[0]}`; %>

    <label for="<% "date" + i %>"> <%= (i+1) + ") " + formattedDate + " at " + time[i] %> </label>
        <input type="checkbox" id="<% "date" + i %>" name="<% "date" + i %>" value="<%[sqlDate,time[i]]%>">
    <br>
<% }%>
</form>

</div>
</div>



</body>
</html>
