<%- include("sidebar") -%>
<div class="container" style="padding: 1vw;">
<h1>Hello <%= fullName %> </h1>
<p> Your Bookings are at: </p>
<p> <%- fullDate1 %> </p>

    <a href="/email-change" class="booking-button" style="padding: 2vw 2vw">EDIT DETAILS</a>
</div>
</div>

</body>
</html>
