<%- include("sidebar") -%>
<div class="container" style="padding: 1vw;">
<h1>Hello <%= fullName %> </h1>
<p> Your Bookings are at: </p>
<p> <%- fullDate1 %> </p>

    <a href="/email-change" class="booking-button" style="padding: 2vw 2vw">CHANGE EMAIL</a>
    <hr>
    <h1>Cancel Reservation </h1>
    <form action = "/delete" method="POST" style="padding: 0;">
        <label for="email">Re-enter your email:</label>
        <input class="contact-form" type="email" id="email" name="email" required /> <br>
        <input class="home-button" style="padding: 2vw 8vw; background-color: #841623" type="submit" value="CANCEL RESERVATION" />
    </form>
</div>
</div>

</body>
</html>
