<%- include("header") -%>
<div class="container" style="padding: 8vw;">
<h1> Your Booking is at  <%= date %> at <%= time %></h1>
    <a href="/log-in" class="home-button">Cancel Reservation</a>
</div>

</body>
</html>
